/* FONTS */
@font-face {
    font-family: "ProximaSoft Regular";
    src: url("../fonts/ProximaSoft Regular.otf") format("opentype");
}

@font-face {
    font-family: "ProximaSoft Medium";
    src: url("../fonts/ProximaSoft Medium.otf") format("opentype");
}

@font-face {
    font-family: "ProximaSoft Semibold";
    src: url("../fonts/ProximaSoft Semibold.otf") format("opentype");
}

@font-face {
    font-family: "ProximaSoft Bold";
    src: url("../fonts/ProximaSoft Bold.otf") format("opentype");
}

* {
    font-family: 'ProximaSoft Regular';
    color: #fff;
}

body {
    background: #293e6b;
}

hr {
    background: #546589;
    margin-left: 3rem;
    margin-right: 3rem;
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inline-block {
    display: inline-block
}

.bg-primary {
    background: #fb5606 !important;
}

.text-primary {
    color: #fa4d09 !important;
}

.text-bold {
    font-family: 'ProximaSoft Bold';
}

.text-md {
    font-family: 'ProximaSoft Medium';
}

.btn {
    border: 0;
}

.btn-primary {
    background: #fa4d09;
}

.btn-outline-primary {
    border: 1px solid #fa4d09;
    color: #fff;
}

.btn-outline-light {
    border: 1px solid #fff;
    color: #fff;
}

.btn-outline-info {
    border: 1px solid #1597f8;
    color: #fff;
}

.btn-outline-success {
    border: 1px solid #1ddd6e;
    color: #fff;
}
.btn-rounded {
    border-radius: 100px;
}

.navbar {
    z-index: 99999;
}

.nav-link {
    color: #fff !important;
}

#section-1 #ebay-parcel-col {
    display: flex;
    align-items: center;
    justify-content: left;
}

#section-1 #ebay-parcel-img {
    max-height: 275px;
}

#section-1 #section-1-btn {
    width: 150px;
}

#section-1-social-icons {
    position: absolute;
    left: 80px;
    bottom: -80px;
}

#section-1-social-icons img {
    height: 18px;
    width: auto;
    display: block;
}

#live-chat-btn {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -80px;
}

#section-2 div {
    text-align: center;
}

#section-2 h4 {
    max-width: 450px;
    margin: 0 auto;
}

#section-2 .collect-grp-img {
    height: 90px;
    width: auto;
}

#section-2 .collect-grp-list {
    list-style: none;
    padding-left: 0;
    min-height: 140px;
    margin-bottom: 0.5rem;
}

#section-2 .collect-grp-list li {
    font-size: 0.85rem;
}

#section-2 .collect-grp-list li:first-child {
    font-family: "ProximaSoft Bold";
}

#x-btn {
    position: relative;
    top: -35px;
    height: 40px;
}

#collect-grp-table {
    font-size: 0.9rem;
}

#collect-grp-table th {
    font-size: 1rem;
}

#collect-grp-table,
#collect-grp-table tr,
#collect-grp-table td, 
#collect-grp-table thead th {
    border: 2px solid #293e6b !important;
}
#collect-grp-table thead {
    text-align: center;
}

#collect-grp-table thead span {
    font-family: "ProximaSoft Bold";
}

#collect-grp-table #collect-direct-th, #collect-direct-th span {
    background: #fff;
    color: #182a4f !important;
}

#collect-grp-table #collect-grp-th {
    background: #fa4d09;
}

#collect-grp-table #collect-pro-th {
    background: #1597f8;
}

#collect-grp-table #collect-retail-th {
    background: #1ddd6e;
}

#collect-grp-table td {
    text-align: center;
}

#collect-grp-table .collect-direct-td-1 {
    background: #7f8ba6;
    min-width: 160px;
    font-family: "ProximaSoft Bold";
}

#collect-grp-table .collect-direct-td {
    background: #4b5d83;
}

#collect-grp-table .collect-pro-td-1 {
    background: #2162a3;
    min-width: 160px;
    font-family: "ProximaSoft Bold";
}

#collect-grp-table .collect-pro-td {
    background: #264c81;
}

#collect-grp-table .collect-retail-td-1 {
    font-family: "ProximaSoft Bold";
    background: #28607d;
    min-width: 160px;
}

#collect-grp-table .collect-retail-td  {
    background: #28607d;
    min-width: 160px;
}

#section-4 #about-us-wrapper {
    width: 600px;
}

.parallax-window {
    min-height: 600px;
    width: auto;
    background: transparent;
}

#section-5 #it-solutions-wrapper {
    width: 600px;
}

#section-6 #looking-for-text {
    width: 500px;
}

#section-6 .perks-img {
    height: 80px;
    width: auto;
    margin-bottom: 1rem;
}

#section-7 h1 {
    font-size: 5rem;
    color: #2b406d;
}

#section-8 {
    background: #263b69;
}

input {
    background: #263b69 !important;
    color: #fff !important;
    border: 2px solid #4c5d82 !important;
    border-radius: 0 !important;
}

textarea {
    background: #263b69;
    width: 100%;
    color: #fff;
    border: 2px solid #4c5d82;
    padding: 1rem;
}

textarea::placeholder {
    color: #fff;
}

#leave-message-col {
    padding-left: 30px;
    padding-right: 30px;
}

#contact-submit-btn {
    width: 150px;
}

footer {
    background: #0f1d3a;
}

#footer-logo {
    height: 100px;
}

#copyright-text {
    color: #5a74ad;
}

#marker-img {
    position: absolute; 
    right: -15px
}

#footer-links li > a {
    color: #fff;
}

#footer-links {
    display:block;
}

#footer-links li {
    display:inline-block;
}
#footer-links li:before {
    content:'•'; margin:0 10px;
}

#footer-social-icons {
    position: absolute;
    left: 0;
    z-index: 9999;
    background: #fa4d09;
    height: 180px;
}

#footer-social-icons img {
    height: 18px;
    width: auto;
    display: block;
}
 /*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .navbar {
        background: #293e6b;
    }

    #sign-in-nav {
        border-right: 0;
        padding-right: 1.5rem;
    }

    #tracking-nav {
        margin-left: 0;
    }

    #live-chat-btn {
        right: 50px;
    }

    #section-1 #heading-col {
        justify-content: center;
        text-align: center;
    }

    #section-1 #ebay-parcel-img {
        margin: 0 auto;
        position: relative;
        top: -10px;
    }

    #section-1 h1 {
        max-width: 400px;
        font-size: 3.5rem;
    }

    #section-1-social-icons {
        display: none;
    }

    #marker-img {
        display: none;
    }

    #location-text, #contact-us-text {
        margin-left: 0;
        margin-right: 0;
    }

    #footer-social-icons {
        width: 90px;
    }
    
    .col-form-label {
        text-align: left;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
   .navbar {
        background: transparent;
    }

    #left-nav .nav-item {
        margin-right: 0.5rem;
    }

    #sign-in-nav {
        border-right: 1px solid #ae472c;
    }

    #tracking-nav {
        margin-left: 1.5rem;
    }

    #section-1-social-icons {
        display: block;
    }

    #live-chat-btn {
        right: 100px;
    }

    #section-1 #ebay-parcel-img {
        margin: 0;
        top: -30px;
    }

    #marker-img {
        display: block;
    }

    #location-text, #contact-us-text {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #footer-social-icons {
        width: 150px;
    }    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #left-nav .nav-item {
        margin-right: 1.5rem;
    }

    #nav-logo {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    #section-1 #heading-col {
        justify-content: flex-end;
        text-align: left;
    }

    #section-1 h1 {
        max-width: 400px;
        font-size: 3rem;
    }

    .col-form-label {
        text-align: right;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #navbar-list {
        margin-left: 12rem;
    }
}


@media only screen and (min-width : 1440px) {
    #navbar-list {
        margin-left: 15rem;
    }
}

@media only screen and (min-width :1600px) {
    #navbar-list {
        margin-left: 20rem;
    }
}

@media only screen and (min-width :2560px) {
    #navbar-list {
        margin-left: 50rem;
    }
}